@model FINAL.CURSOS

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CURSOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre_Curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creditos_Curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creditos_Curso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano_Curso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano_Curso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Cursos }) |
    @Html.ActionLink("Back to List", "Index")
</p>
